<div class="sumary-decos" style="display:none;">
    @*<div class="col-sm-1 check-text text-right">
        <span id="MaxDecos" style="font-weight: bold; font-size: 12px; color: #000000; border: 1px solid #ddd !important; padding: 10px; background: #FFFFFF">4</span>
    </div>
    <div class="col-sm-2 check-text text-left">
        <span style="font-weight: bold; font-size: 12px; color: #000000">Nro. Decos Maximo</span>
    </div>
    <div class="col-sm-1 check-text text-right">
        <span id="DisDecos" style="font-weight: bold; font-size: 12px; color: #000000; border: 1px solid #ddd !important; padding: 10px; background: #F3F3F3">4</span>
    </div>
    <div class="col-sm-2 check-text text-left">
        <span style="font-weight: bold; font-size: 12px; color: #000000">Decos Disponibles</span>
    </div>*@
    @*<div class="col-sm-1 check-text text-right">
        <span id="AddDecos" style="font-weight: bold; font-size: 12px; color: #000000; border: 1px solid #ddd !important; padding: 10px; background: #E6FFFA">0</span>
    </div>
    <div class="col-sm-2 check-text text-left">
        <span style="font-weight: bold; font-size: 12px; color: #000000">Decos Agregados</span>
    </div>*@
</div>
@Scripts.Render("~/bundles/Content/Lib/BloqueoF12")
